---
import "../styles/global.css";
import "../styles/divider.css";

// Component Imports
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import PageLoader from "@/components/sections/PageLoader";
import HeroSection from "@/components/sections/HeroSection"
import Hero from "@/layouts/Hero.astro";
import Experience from "@/layouts/Experience.astro";
import { Toaster } from "@/components/ui/sonner"
import HeaderDock from "@/components/react/HeaderDock";
import MainNavigation from "@/components/react/MainNavigation";
import { Separator } from "@/components/ui/separator";
---

<DefaultLayout>
  <PageLoader client:load>
    <MainNavigation client:load />
    <Toaster client:idle/>
    <div class="w-full">
      <Hero client:load/>
    </div>
    
    <!-- Full-width divider that breaks out of container -->
    <div class="relative w-full">
      <div class="absolute right-0 w-[99.6vw] -ml-[50vw] left-[50%]">
        <Separator className="h-[2px] bg-border/80" client:load />
      </div>
    </div>

    
    <Experience />
    

    <HeaderDock client:idle/>
  </PageLoader>
</DefaultLayout>