---
import ExperienceSection from "@/components/sections/ExperienceSection"
---

<section id="experience" class="relative min-h-[40vh] md:min-h-[50vh] w-full py-10">
	<ExperienceSection client:visible />
</section>
