---
import HeroSection from "@/components/sections/HeroSection"
import HeaderDock from "@/components/react/HeaderDock"
---

<section id="herosection" class="relative min-h-[60vh] md:min-h-[75vh] flex items-end md:items-end pt-4 md:pt-0">
	<HeroSection client:load />
</section>